*{
    background-image: url("https://img.freepik.com/free-vector/dark-wall-background_1390-191.jpg?size=338&ext=jpg");
    background-color:#111;
    background-attachment:fixed;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin-top:0px;
    text-align:center;
}

button{
    color:white;
}

#login{
    background-color: darkred;
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: crimson;
    text-align: center;
}